
* {
    box-sizing: border-box;
    /* text-align: left; */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bf/Grand_Central_Board.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    background: white;
    /* text-align: center; */
}

#jumbotron {
    background: rgb(182, 91, 55);
    text-align: center;   
}