
* {
    box-sizing: border-box;
    /* text-align: left; */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-image: url("https://secure.i.telegraph.co.uk/multimedia/archive/02467/grand-alamy_2467882b.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    background: white;
    /* text-align: center; */
}